.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.form-group-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group-contact input, textarea {
    margin: 10px;
    padding: 20px;
    border: 1px solid #FF5C78;
    border-radius: 10px;
}

.form-group-contact label {
    color: #252D5F;
    font-size: 20px;
    font-weight: bold;
}

.btn-contact {
    padding: 20px;
    border: none;
    background-color: #FF5C78;
    color: white;
    border-radius: 10px;
}

.wpp h4 {
    font-weight: bold;
    color: #252D5F;
}

.wpp-item {
    font-size: 80px;
    color: #FF5C78;
}